* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark: #00303b;
  --light: #f1f2da;
  --red: #ff7777;
  --yellow: #ffce96;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--dark);
}

.content {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
}