* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark: #00303b;
  --light: #f1f2da;
  --red: #ff7777;
  --yellow: #ffce96;
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--dark);
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.content {
  height: 100%;
  width: 50vw;
  background: var(--yellow);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 2rem;
}

.form {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
}

.field {
  background: var(--red);
  display: flex;
  border: solid var(--dark);
  border-left: 0.2rem;
  border-right: 0.2rem;
  justify-content: space-between;
}

.field__label {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  color: var(--dark);
  height: 100%;
}

.field__label__indicator {
  color: var(--light);
}

.field__input {
  width: 100%;
  height: 100%;
  background: var(--red);
  outline: none;
  border: none;
  padding-right: 1rem;
  font-family: "Press Start 2P", cursive;
  color: var(--light);
  padding-left: 1rem;
}

.field__input--color {
  width: 50%;
}

.preview {
  margin-top: 1rem;
  padding: 2rem;
  border: 0.2rem solid var(--dark);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--red);
}

.final,
.final__url {
  align-items: center;
  display: flex;
}

.final {
  height: 15%;
  justify-content: space-between;
  padding: 2rem 0;
  width: 100%;
}

.final__btncopy {
  appearance: none;
  border: 0.2rem solid var(--dark);
  border-radius: 0 3rem 3rem 0;
  border-left: none;
  box-shadow: none;
  height: 100%;
  width: 15%;
  font-family: "Press Start 2P", cursive;
  padding: 1rem;
}

.final__url {
  justify-content: center;
  background: var(--light);
  border: 0.2rem solid var(--dark);
  border-radius: 3rem 0 0 3rem;
  border-right: none;
  color: var(--dark);
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  height: 100%;
  min-width: 75%;
  padding: 1rem;
  word-break: break-all;
}

@media screen and (max-width:80rem){
  .content {
    width: 90vw;
  }

  .field__label--color {
    font-size: 1.2rem;
  }

  .final__btncopy {
    width: 30%;
  }

  .final__url {
    min-width: 60%;
    padding: 0;
  }
}

/*COLOR PICKER*/
.pcr-button,
.pcr-button::after,
.pcr-button::before {
  width: 25vw !important;
  height: 100% !important;
}

.pcr-app {
  width: 25vw !important;
  font-size: 2rem;
  background: var(--red) !important;
  border: 0.4rem solid var(--light) !important;
  border-radius: 2rem !important;
}

.pcr-palette,
.pcr-color-palette,
.pcr-palette::before {
  border-radius: 1.6rem 1.6rem 0 0 !important;
}

.pcr-interaction {
  background: var(--yellow) !important;
  border-radius: 2rem !important;
  border: 0.4rem solid var(--light) !important;
}

.pcr-type,
.pcr-save {
  background: var(--dark) !important;
}

.pcr-clear {
  background: var(--red) !important;
}
